<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.pixerapps.placie">

    <application
            android:allowBackup="true"
            android:icon="@drawable/placie"
            android:label="@string/app_name"
            android:roundIcon="@drawable/placie"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".Global"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.authentication.AuthActivity"/>
        <activity android:name=".ui.activity.user.home.HomeActivity"/>
        <activity android:name=".ui.activity.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.user.editProfile.EditProfileActivity"/>
        <activity android:name=".ui.activity.post.PostFullActivity"
        android:label="Post"/>
        <activity android:name=".ui.activity.createPost.CreatePostActivity"
        android:label="Post your stuff"/>
    </application>

</manifest>