<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pixerapps.placie">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".Global">
        <activity android:name=".ui.activity.authentication.AuthActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.user.home.HomeActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.splash.SplashActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.user.editProfile.EditProfileActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.post.PostFullActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>